#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=27) ;
  filter: alpha(opacity=27) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}