#s-055548e9-1ebd-45f6-9c36-344e6339718a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Text_1 {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 376px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Text_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Text_1 span#rtr-s-Text_1_1 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Text_1 span#rtr-s-Text_1_2 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_101 {
  position: absolute;
  top: 33px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_101 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_101 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_101 span#rtr-s-Label_101_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_1 {
  position: absolute;
  top: 89px;
  left: 0px;
  width: 372px;
  height: 575px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_2 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 373px;
  height: 600px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  opacity: 0.27;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_16 {
  position: absolute;
  top: 165px;
  left: 238px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 72.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 72.0pt;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_16 span#rtr-s-Label_16_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 72.0pt;
  line-height: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_50 {
  position: absolute;
  top: 318px;
  left: 49px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 72.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_50 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 72.0pt;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_50 span#rtr-s-Label_50_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 72.0pt;
  line-height: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_51 {
  position: absolute;
  top: 318px;
  left: 223px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 72.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_51 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 72.0pt;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_51 span#rtr-s-Label_51_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 72.0pt;
  line-height: 0px;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_18 {
  position: absolute;
  top: 36px;
  left: 318px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_18 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_18 span#rtr-s-Label_18_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}