#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_101 {
  -ms-transform: rotate(0.0deg);
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=27);
  filter: alpha(opacity=27);
  -ms-transform: rotate(0.0deg);
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_50 {
  -ms-transform: rotate(0.0deg);
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_51 {
  -ms-transform: rotate(0.0deg);
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-055548e9-1ebd-45f6-9c36-344e6339718a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}