#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Label_150 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Ellipse_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c #s-ON {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-70431ece-dde3-46dd-a4ec-a55b66af6d6c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}